.hotgrid {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  &__item {
    width: 100%;

    @media (min-width: @device-width-small) {
      width: 50%;
    }
  }

  &__item-btn {
    background-color: transparent;
  }

  &__item-btn.is-round .hotgrid__item-image {
    border-radius: 50%;
  }

  &__item-icon .icon {
    .icon-plus;
  }

  // --------------------------------------------------
  // Application of item image states
  // --------------------------------------------------
  &__item-btn.is-image {
    .image-state.is-default;

    .no-touch &:hover {
      .image-state.is-hover;
    }
  }

  &__item-btn.is-image.is-visited {
    .image-state.is-visited;
  }
  // --------------------------------------------------
}

// --------------------------------------------------
// Hotgrid item image states
// --------------------------------------------------
.image-state.is-default {
  .hotgrid__item-image.is-default {
    display: block;
  }

  .hotgrid__item-image.is-hover,
  .hotgrid__item-image.is-visited {
    display: none;
  }
}

.image-state.is-hover {
  .hotgrid__item-image.is-hover {
    display: block;
  }

  .hotgrid__item-image.is-default,
  .hotgrid__item-image.is-visited {
    display: none;
  }
}

.image-state.is-visited {
  .hotgrid__item-image.is-visited {
    display: block;
  }

  .hotgrid__item-image.is-default,
  .hotgrid__item-image.is-hover {
    display: none;
  }
}
// --------------------------------------------------
