.hotgrid-component {
	.hotgrid-widget {
		position: relative;
	}

	.hotgrid-grid-item {
		float: left;
		text-align: center;
		width: 50%;

		&.visited {
			.hotgrid-item-states-image {
				.item-states-image.visited;
			}	
		}
	}

	.hotgrid-item-image {
		display: block;
		margin: 10px;

		img {
			display: block;
			transition: all 0.25s;
		}		

		&.hotgrid-item-states-image {
			.item-states-image.default;

			.no-touch & {
				&:hover {
					.item-states-image.hover;
				}
			}
		}

		@media all and (max-width:(@device-width-medium - 1)) {
			margin: 5px;
		}
	}

	.hotgrid-shadow {
		background-color: @transparency;
		display: none;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 998;
	}

	.hotgrid-content {
		background-color: @secondary-color;
		display: none;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: fixed;
		top: 50%;
		width: 100%;
		z-index: 999;

		@media all and (max-width:(@device-width-small - 1)) {
			height: 100%;
			margin: 0!important;
			overflow-y: scroll;
			top: 0;
			-webkit-overflow-scrolling: touch;
		}
	}

	.hotgrid-content-inner {
		margin: auto;
		max-width: @device-width-large;
	}

	.hotgrid-content-item {
		display: none;
	}

	.hotgrid-content-item-inner {
		padding: 0 20px 20px;
	}

	.hotgrid-contents {
		float: left;
		width: 60%;

		@media all and (max-width:(@device-width-medium - 1)) {
			margin-bottom: 20px;
			width: auto;
		}
	}

	.hotgrid-contents-inner {
		margin-right: 20px;
	}

	.hotgrid-item-graphic {
		float: right;
		text-align: center;
		width: 40%;

		@media all and (max-width:(@device-width-medium - 1)) {
			width: auto;
		}
	}

	.hotgrid-content-title {
		color: @background-color;
	}

	.hotgrid-content-body {
		color: @background-color;
	}

	.content-popup-icon-close {
		color: @background-color;
		float: right;
		font-size: 26px;
		padding: 10px;

		.no-touch & {
			&:hover {
				color: darken(@background-color, 30%);
			}
		}
	}

	.hotgrid-item-title {
		color: white;
	}
}

.item-states-image {
	.default {
		img.hotgrid-item-image-hover {
			display: none;
		}

		img.hotgrid-item-image-visited {
			display: none;
		}
	}

	.hover {
		> img {
			display: none;
		}

		img.hotgrid-item-image-hover {
			display: block;
		}

		img.hotgrid-item-image-visited {
			display: none;
		}
	}

	.visited {
		> img {
			display: none;
		}

		img.hotgrid-item-image-hover {
			display: none !important;
		}

		img.hotgrid-item-image-visited {
			display: block !important;
		}
	}
}
