name: Add to main project

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-to-project:
    uses: cgkineo/.github/.github/workflows/addtomainproject.yml@main
    secrets: inherit
